!!!
%html
  %head
    %title Proyecto
    = stylesheet_link_tag    "external", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #main
      %header
        #logo
          #logo_text
            / class="logo_colour", allows you to change the colour of the text
            %h1
              %a{:href => ""} SETD
            %h2 Tecnologías y Metodologías de Manufactura Avanzada.
        %nav
          %ul#nav.sf-menu
            %li.selected
              = link_to 'Home', root_path
            %li
              %a{:href => ""} Resultados
            - if !logged_in?
              %li
                %a{:href => "#"} Administración
                %ul
                  %li
                    %a{:href => "users"} Usuarios
                  %li
                    %a{:href => "companies"} Empresas
                  %li
                    =link_to 'Prioridades', priorities_path
                  %li
                    =link_to 'Dimensiones', dimentions_path
                  %li
                    %a{:href => "#"} Factores
                  %li
                    %a{:href => "#"} Tipos AMT
                  %li
                    %a{:href => "#"} Metodologías
                  %li
                    %a{:href => "#"} Tecnologías
                  %li
                    %a{:href => "#"} Encuestas
              %li
                = link_to 'Logout', logout_path, method: :delete
              %li
                = link_to 'Mi Perfil', user_path(current_user)
            - if logged_in?
              %li
                = link_to 'Login', login_path            
      #site_content
        #sidebar_container
          .gallery
            %ul.images
              %li.show
                %img{:alt => "photo_one", :height => "450", :src => "assets/img1.jpg", :width => "450"}/
              %li
                %img{:alt => "photo_two", :height => "450", :src => "assets/img2.jpg", :width => "450"}/
              %li
                %img{:alt => "photo_three", :height => "450", :src => "assets/img3.jpg", :width => "450"}/
              %li
                %img{:alt => "photo_four", :height => "450", :src => "assets/img4.jpg", :width => "450"}/
        #content
          %h1 AQUI IRIA EL LOGIN
          %p
        La manufactura en su sentido más amplio es el proceso de convertir materias primas en productos. Comprende: el diseño del producto, la selección de materias primas, y la secuencia de procesos a través de los cuales se fabricará el producto.

        La Manufactura Avanzada incluye además, procesos de tecnología y el desarrollo de los procesos que complementen la cadena productiva.

        SETD apoya la competitividad de la industria manufacturera mediante tecnologías que permitan una mayor velocidad y precisión de proceso, nuevas metodologías para procesar materiales, técnicas que reducen los tiempos de desarrollo de productos, así como la automatización de procesos productivos.
    %p &nbsp;
    / javascript at the bottom for fast page loading
    %script{:src => "js/jquery.js", :type => "text/javascript"}
    %script{:src => "js/jquery.easing-sooper.js", :type => "text/javascript"}
    %script{:src => "js/jquery.sooperfish.js", :type => "text/javascript"}
    %script{:src => "js/image_fade.js", :type => "text/javascript"}
    :javascript
      $(document).ready(function() {
        $('ul.sf-menu').sooperfish();
      });